// Place all the styles related to the Activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$form-body-fg: black;
$form-body-bg: #e0aaff;

.form-body {
	background: $form-body-bg;
	color: $form-body-fg;
}