<%= calendar number_of_days: 1, events: @activities do |date, activities| %>
  <% ActivityHelper::BLOCKS.each do |currBlock| %>
    <% @filtered = activities.select{|a| a.block.to_s == currBlock.to_s} %>
      <% unless @filtered.empty? %>
        <div class="list-group mb-2">
          <div class="list-group-item list-group-item-secondary fs-5 fw-bold">
            <%= currBlock.to_s %>
          </div>
          <% @filtered.each do |activity| %>
            <%= link_to activity.title, activity, class: "list-group-item list-group-item-light" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
<% end %>

<div class="card bg-light mb-3">
  <div class="card-header text-center">
  	New Activity
  </div>
  <div class="card-body">
    <%= render 'form', activity: Activity.new %>
  </div>
</div>